.slider {
    scroll-snap-type: y proximity;
    height: 100vh;
    overflow-y: scroll;
    scroll-padding: 40px;
}

.slide {
    min-height: calc(100vh - 80px);
    padding: 40px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.22);
    margin-bottom: 40px;
    background-color: #ffffff;
    margin-top: 40px;
    scroll-snap-align: start;
    width: calc(100% - 40px);
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width:767px) {
    .slide {
        box-shadow: none;
        margin: 0;
        min-height: 100vh;
        max-width: 100%;
        width: 100%;
    }

    .slider {
        scroll-padding: 0;
    }
}

.slide[data-pg-id] {
    min-height: 400px;
}
